* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.spinner-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #304299;
    z-index: 999;
    opacity: 1;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
    pointer-events: none;
}

.spinner-container svg {
    width: 38px;
    height: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -19px 0 0 -19px;
}

/*
 * -- BASE STYLES --
*/
body {
    margin: 0;
    line-height: 1.7em;
    color: #455a64;
    font-family: "Carrington", cursive;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
.no-scroll {
    overflow: hidden;
}
h1, h2 {
    color: #455a64;
    font-family: "Carrington", cursive;
    font-weight: normal;
}
h1, h2 {
    line-height: 1;
    margin: 1rem;
}
p {
    line-height: normal;
    font-size: .95rem;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gedeandikit {
    font-size: 110%;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
#cover h1, #cover h2 {
    color: #fff;
    font-size: 2rem;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    opacity: 0;
}
#cover h2 {
    margin: 0;
}
#cover p {
    font-size: 1.3rem;
    margin-top: 0.2rem;
    color: #fff;
    opacity: 0;
}

#logors path:not(.mainpath) {
    opacity: 0;
}

/* mouse icon */
#ic_mouse {
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
    overflow: visible;
}
#ic_mouse:hover {
    cursor: pointer;
}
#ic_mouse_arrow1, #ic_mouse_arrow2 {
    opacity: 0;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
img {
    max-width: 100%;
    height: auto;
}
img.profile {
    height: auto;
    max-width: 180px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 4px solid #b0bec5;
}
#btn_scroll_intro_top, #btn_scroll_foto_top {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -15px;
    transform: rotate(180deg);
    z-index: 21;
}
#btn_scroll_intro_bottom, #btn_scroll_foto_bottom {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -15px;
    z-index: 21;
}
p.dengan::after {
    font-family: "Carrington", cursive;
    content: "&";
    font-size: 5rem;
    position: absolute;
    left: 50%;
    margin-left: -33px;
    top: 50%;
    margin-top: 3px;
    opacity: .2;
}
.gm-link, .cal-link {
    margin-top: 1rem;
    display: inline-block;
}
.cal-link {
    position: relative;
    top: -2px;
}
.gm-link a, .cal-link a {
    background: none;
}
.gm-link {
    margin-right: 14px;
}

/*
 * -- LAYOUT STYLES --
*/
section {
    min-height: 100vh;
    position: relative;
    padding: 40px;
}
#cover {
    background: #304299; 
    z-index: 100;
    color: #fff;
}
#cover::after {
    content: "";
    /*background-image: url("../img/batik-pattern.png"); */
    /* The image used */
    background-image: url("../img/cover.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: .2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 2;
    
    mix-blend-mode: soft-light;
}
#cover .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#cover p {
    font-family: "Carrington", cursive;
}
#intro {
    z-index: 20;
    background: #fff;
}
#intro .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: #fff; */
}
#outro {
    z-index: 10;
}
#outro .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 92%;
}
.is-center {
    text-align: center;
}
#intro h2 {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}
#intro h2+p {
    line-height: 1.2;
}
#intro .col-tengah {
    padding: 0;
}
p.dengan {
    margin-bottom: 0.3rem!important;
}
a, a:focus, a:hover {
    color: #384c57;
    text-decoration: none;
}
p a {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff;
    background-image: linear-gradient( to right, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .2) 100%);
    background-repeat: repeat-x;
    background-position: 0 96%;
    -webkit-background-size: 100% 2px;
    background-size: 100% 2px;
}
#intro::after {
    content: "";
    background-image: url("../img/batik-pattern.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .05;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
#outro {
    background: rgba(255,255,255, .3);
}
#outro::after {
    content: "";
    /*background-image: url("../img/batik-pattern.png"); */
    /* The image used */
    background-image: url("../img/batik-pattern.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .05;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
#outro .keduamempelai {
    font-family: "Carrington", cursive;
    font-size: 1.8rem;
}
#foto {
    background: #eee;
    z-index: 15;
}
.foto-parent {
    margin-top: 50vh;
}
#foto .content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#foto h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
    margin: 0;
}
.outro-parent {
    position: relative;
}
.outro-content {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
g#footer_or1 {
    display: none;
}
svg#logo_footer {
    margin-left: -2rem;
    display: block;
}
.polaroid {
    border: solid 8px #fff;
    max-width: 100%;
    float: right;
}
#foto .polaroid {
    float: none;
    transform: translateY(-50%);
}
.elasticstack {
    position: relative;
    margin: auto;
    padding: 0;
    width: 440px;
    height: 440px;
    list-style: none;
    -webkit-perspective: 1000px;
    -webkit-perspective-origin: 50% 150%;
    perspective: 1000px;
    perspective-origin: 50% 150%;
    z-index: 50;
}
#foto .polaroid, #foto .elasticstack {
    transform: translateY(-50%);
}
.no-js .elasticstack {
    max-width: 1090px;
    width: 100%;
    height: auto;
    text-align: center;
}
.elasticstack li {
    position: absolute;
    z-index: 1;
    width: 440px;
    height: 440px;
    border-width: 20px;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 10px 7px -7px rgba(0, 0, 0, 0.12), 0 0 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    cursor: pointer;
    -webkit-transform: translate3d(0, 0, -180px);
    transform: translate3d(0, 0, -180px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.no-js .elasticstack li {
    position: relative;
    display: inline-block;
    opacity: 1;
    margin: 10px;
    cursor: default;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.elasticstack li img {
    display: block;
}
.elasticstack li.animate {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.elasticstack li.move-back {
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1);
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
}
#addeventatc1 {
    margin: 20px 0 0 20px;
    position: absolute;
}

/*
 * -- MEDIA QUERIES --
*/
@media (max-width: 1200px) {
    .elasticstack, .elasticstack li {
        width: 400px;
        height: 400px;
    }
}
@media (max-width: 1024px) {
    .elasticstack, .elasticstack li {
        width: 360px;
        height: 360px;
    }
}
@media (max-width: 991px) {
    #addeventatc1 {
        margin: 0;
        position: relative;
    }

    .outro-content {
        /* text-align: center; */
        margin-left: -15px;
        padding: 10px;
    }

    g#footer_or1 {
        display: block;
    }

    svg#logo_footer {
        display: block;
        margin: auto;
    }
}
@media (max-width: 767px) {
    section {
        padding: 30px;
    }

    #intro .content {
        top: 48.5%;
        width: 100%;
        padding: 40px;
    }

    img.profile {
        max-width: 150px;
    }

    #intro .col-md-4 {
        margin-bottom: 2rem;
    }

    #intro .col-tengah, #outro .col-tengah {
        margin-top: 2rem;
    }

    #foto .polaroid, #foto .elasticstack {
        transform: translateY(-60%);
    }

    .elasticstack, .elasticstack li {
        width: 320px;
        height: 320px;
    }
}
@media (max-width: 412px) {
    section {
        padding: 0 20px;
    }

    .col-rifal, .col-sindy {
        padding: 0;
    }

    #cover h1, #cover h2 {
        font-size: 160%;
        margin-right: 0;
        margin-left: 0;
    }

    p.dengan {
        margin: -0.6rem 0 -0.3rem!important;
    }
}
@media (max-width: 360px) {
    #intro .content {
        top: 48.5%;
        width: 100%;
        padding: 10px;
    }

    .elasticstack, .elasticstack li {
        width: 290px;
        height: 290px;
    }
}
@media (max-width: 320px) {
    #logors {
        overflow: hidden;
        transform: scale(.8);
    }

    section {
        padding: 0 8px;
    }

    #cover h1, #cover h2 {
        margin: 0;
    }

    #intro h2+p {
        font-size: 1rem;
    }

    #intro h2 {
        font-size: 1.4rem;
    }

    #outro .content {
        width: 98%;
    }

    #intro p, #outro p {
        font-size: 0.9rem;
        margin-bottom: 0.6rem;
    }

    #intro .content {
        padding: 20px;
    }

    .elasticstack, .elasticstack li {
        width: 275px;
        height: 275px;
    }

    p.dengan {
        margin: -0.4rem 0 -0.6rem!important;
    }
}
